* {
  box-sizing: border-box;
}
body {
  background-color: rgba(206, 168, 173, 0.88);
  padding: 20px;
  .kurale-regular {
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
  }

}
.page-wrapper {
overflow: hidden;
max-width: 428px;
margin: auto;
background: rgb(249, 233, 233);
box-shadow: 0px 0px 21.3px 12px rgba(0, 0, 0, 0.25);
border-radius: 57px;

}
.container {
  max-width: 330px;
  margin: auto;
}
.header {
  color: rgb(255, 255, 255);
padding-top: 31px;
padding-left: 77px;
padding-right: 77px;
padding-bottom: 175px;
background: url('../img/header-bg.png') no-repeat center / cover ;
border-radius: 0px 0px 90px 90px;
}

.hello {
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
  width: 100px;
  margin: auto;
  text-align: center;
  color:#FFFFFF; /* Цвет текста */
  -webkit-text-stroke: 1px #F4B442; /* Толщина и цвет обводки */
  text-shadow: 1px 1px 2px black;
}

.user {
margin-top: -49px;
text-align: center;
border-radius: 57px;
background: rgb(163, 194, 155);
padding-bottom: 15px;


}
.user-avatar {
margin-top: -102px;  
object-fit: cover;
border-radius: 50%;
border: 7px solid rgb(163, 194, 155);
}

.user-name {
  margin-top: 13px;
  margin-bottom: 3px;
font-family: Kurale;
font-size: 24px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
}
.user-description{
  /* мастерица */
  color: rgb(97, 94, 94);
  font-family: Kurale;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 3px;
}
.card {
  border-radius: 57px;
  background: rgb(163, 194, 155);
  margin-top: 12px;
  margin-bottom: 1px;
  padding: 20px;
}
.buttons {
  display: flex;
  align-items:center;
justify-content: center;
}
.button {
  height: 50px;
  flex-shrink: 1;
  width: 100%;
  border-radius: 57px;
  background: rgb(77, 118, 161);
  width: 265px;
  height: 50px;
  left: 81px;
  top: 449px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 24px 33px 24px 33px;
}
.about {
  color: rgb(30, 30, 30);
font-family: Kurale;
font-size: 24px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
width: 295px;
height: 222px;
left: 64px;
top: 512px;
display: flex;
flex-direction: row;
align-items: center;
text-shadow: 1px 1px 4px #00000025;
margin-bottom: 132px;
}
.imgdog1 {
  border: 1px solid rgba(254, 236, 236, 0.37);
width: 182.03px;
height: 154px;
left: 48.61px;
top: 721px;
margin-top: -60.27px;
margin-bottom: 0px;
margin-left: -16px;
}
.imgdog2 {
  border: 1px solid rgba(255, 255, 255, 0.37);
  width: 162.16px;
  height: 197.55px;
  left: 404.31px;
  top: 706.59px;
  margin-top: -124px;
  margin-right: -25px;
  margin-left: 98px;
}

